In [11]:
import pandas as pd
import numpy as np
import datetime

In [12]:
df = pd.read_csv('cneos_fireball_data.csv', index_col="Peak Brightness Date/Time (UT)")
df

,Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
Peak Brightness Date/Time (UT),,,,,,,,,
2022-09-04 03:54:55,20.0N,165.9E,14.0,21.9,18.4,-11.4,-3.5,2.400000e+10,0.086
2020-01-17 21:29:49,19.4N,66.0W,14.5,15.5,-13.2,8.1,1.2,9.700000e+10,0.290
2005-05-07 09:31:44,75.8S,163.7E,15.2,16.6,9.6,-9.7,9.4,2.600000e+10,0.092
2005-10-26 21:30:47,36.3S,80.5W,16.7,NaN,NaN,NaN,NaN,1.380000e+11,0.400
2003-04-13 17:58:41,14.8N,64.5E,17.0,NaN,NaN,NaN,NaN,1.750000e+11,0.500
...,...,...,...,...,...,...,...,...,...
2006-04-25 18:46:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+10,0.073
2005-04-16 10:40:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+10,0.073
2003-09-21 07:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+10,0.073
2002-03-18 14:44:57,60.4S,120.5W,NaN,NaN,NaN,NaN,NaN,2.000000e+10,0.073
2000-06-23 09:03:42,69.2N,44.0W,NaN,NaN,NaN,NaN,NaN,2.000000e+10,0.073

In [13]:
df.dtypes

Latitude (deg.)                         object
Longitude (deg.)                        object
Altitude (km)                          float64
Velocity (km/s)                        float64
vx                                     float64
vy                                     float64
vz                                     float64
Total Radiated Energy (J)              float64
Calculated Total Impact Energy (kt)    float64
dtype: object

In [18]:
del df.drop(colums=['Altitude (km)'])

SyntaxError: cannot delete function call (1680013787.py, line 1)